* {
	font-family: 'Lora', serif;
}
.main-header {
	padding: 20px 15px;
	border-bottom: 5px solid #bedb39;
	margin-bottom: 10px;
}
.quote-entry {
	border: 1px solid #ddd;
	padding: 15px;
	overflow: hidden;
}
.btn {
	color: #fff;
	background-color: #FF6138;
	float: right;
}
#templates {
	display: none;
}
#quotes-tpl {

}
#quotes-container {
	margin-bottom: 25px;
}
.quote-block {
/*	border-bottom: 5px solid #79BD8F; */
	padding: 10px;
	margin-bottom: 15px;
	position: relative;
}
.fa-quote-left,
.fa-quote-right {
	font-size: 30px;
	display: inline-block;
	padding: 0 5px;
	color: rgba(51, 51, 51, .7);
}
.quote-text {
	font-size: 20px;
	display: inline;
	padding: 0 10px;
}
.author-name {
	margin: 10px 0 0px 60px;
	font-size: 16px;
}
.author-name:before {
	content: "- ";
}

