* {
	font-family: 'Lora', serif;
}
.main-header {
	padding: 20px 15px;
	border-bottom: 5px solid #bedb39;
	margin-bottom: 10px;
}
ul {
    padding-left: 0;
    list-style: none;
}
.quote-entry {
	border: 1px solid #ddd;
	padding: 15px;
	overflow: hidden;
}
.form-btn {
	color: #fff;
	background-color: #FF6138;
	float: right;
    font-weight: 700;
    font-size: 16px;
}
.form-btn:hover {
    background-color: #c64c2d;
}
#templates {
	display: none;
}

#quotes-container {
	margin-bottom: 25px;
}
.quote-block { 
	padding: 10px;
	margin: 15px 10px;
    display: inline-block;
    max-width: 100%;
}
.block-border-purple {
    border-bottom: 5px solid #af6ecc;
}
.block-border-green {
    border-bottom: 5px solid #5ddd85;    
}
.block-border-blue {
    border-bottom: 5px solid #02c8ff;
}
.block-border-yellow {
    border-bottom: 5px solid #ffe526;
}
.fa-quote-left,
.fa-quote-right {
	font-size: 30px;
	display: inline-block;
	padding: 0 5px;
	color: rgba(51, 51, 51, .7);
}
.quote-text {
	font-size: 20px;
	display: inline-block;
	padding: 0 10px;
    max-width: 92%;
}
.author-name {
	text-align: center;
	font-size: 16px;
    display: block;
    color: #999;
}
.author-name:before {
	content: "- ";
}
.rated,
.remove {
    font-size: 16px;
    display: block;
    margin: 10px 0;
    text-align: center;
}

.dismiss-text {
    display: block;
    float: right;
    font-size: 10px;
    margin-right: -10px;
    margin-top: 10px;
    color: #82025b;
}
.main-footer {
    height: 50px;
}
.show-all {
    width: 100%;
    text-align: right;
    margin: 8px 0;
    font-size: 16px;
    color: #82025b;
    font-weight: 700;
    text-shadow: 1px 1px 3px #999
    text-decoration: underline;
    display: none;
}
/**************STAR RATING CSS************
******************************************
*****************************************/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 99px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}