* {
	font-family: 'Lora', serif;
}
.main-header {
	padding: 20px 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.quote-entry {
	border: 1px solid #ddd;
	padding: 15px;
	overflow: hidden;
}
.btn {
	color: #fff;
	background-color: #C2520E;
	float: right;
}
